.habilidades__transicao_secao {
	display: flex;
	flex-direction: row;
}
.habilidades__transicao_secao__col1 {
	background: radial-gradient(ellipse at 49.5% 90%, #eee 71%, #110e1b 72%);
	padding-top: 3%;
	width: 70%;
}
.habilidades__transicao_secao__col2 {
	background: radial-gradient(ellipse at 49% 50%, #110e1b 80%, #eee 81%);
	padding-top: 3%;
	width: 30%;
}
.habilidades__titulo {
	padding-bottom: 0;
	position: relative;
	top: max(-90px, -14vw);
}
.transition_wave {
	background-color: #110e1b;
	height: min(110px, 17vw);
	/* margin-bottom: 20px; */
}
.transition_wave__svg {
	height: 100%;
	width: 100%;
}
.habilidades__conteudo {
	background-color: #eee;
	display: flex;
	flex-direction: column;
	padding-inline: 5%;
}
.habilidades__conteudo > * {
	align-items: center;
	background-color: #a1a1b850;
	border: grey 1px solid;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	margin-bottom: 1em;
	padding: 1em;
}
.habilidades__conteudo__lista {
	width: 100%;
}
.habilidades__conteudo__texto {
	font-size: 20px;
	display: flex;
	flex-direction: row;
	padding-top: 0.6em;
}
.habilidades__conteudo__texto > span {
	width: 50%;
}
.habilidades__conteudo__texto > svg {
	display: block;
	margin: auto;
	width: 50%;
}
.habilidades__img {
	width: min(8em, 15vw);
	height: min(9em, 16.875vw);
	padding-bottom: 1em;
}
@media (min-width: 900px) {
	.habilidades__conteudo {
		flex-direction: row;
	}
	.habilidades__conteudo > :nth-child(2) {
		margin-inline: 2%;
	}
}
