.header {
	background-color: #111;
	color: whitesmoke;
	display: flex;
	flex: 0 !important;
	flex-direction: row;
	justify-content: space-between;
	padding-inline: 5%;
}
.header > * {
	display: flex;
	margin-block: min(4%, 2rem);
	/* padding-inline: 5%; */
}
.header__menu_nav {
	display: none;
	list-style: none;
}
.header__menu_nav > li > * {
	text-decoration: none;
}
.header__menu_bars {
	font-size: 25px;
}
.header__logo {
	background-color: white;
	border: solid black;
	border-radius: 50%;
	height: 40px;
	margin-block: 0 !important;
	align-self: center;
}
@media (min-width: 900px) {
	.header__menu_nav {
		display: flex;
	}
	.header__menu_bars {
		display: none !important;
	}
	.header__logo {
		height: 4em;
	}
}
